<!DOCTYPE html>
<html>
    {{log "item page request"}}
    {{#if itemobject.iteminfo.name}}
        <head>
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148429247-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-148429247-1');
            </script>
            <title>{{itemobject.iteminfo.name}} by {{itemobject.businessid.name}}</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <!-- <meta name="referrer" content="no-referrer-when-downgrade" /> check others for SEO examples-->
            <meta content="https://brinmo.com" property="og:see_also" />
            <meta content="https://twitter.com/brinmoHQ" property="og:see_also" />
            <!-- Twitter data -->
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:site" content="@brinmoHQ" />
            <meta name="twitter:creator" content="@brinmoHQ" />
            <meta name="twitter:title" content="{{itemobject.iteminfo.name}} | ₦{{itemobject.iteminfo.cost}}" />
            <meta name="twitter:description" content="{{itemobject.iteminfo.name}} from {{itemobject.businessid.name}}. Direct and Instant delivery on Brinmo." />
            <meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/bizzybody-90f3e.appspot.com/o/business%2F{{itemobject.businessid.text}}%2F{{itemobject.itemid}}_600x600.png?alt=media" />
            <meta name="twitter:image:width" content="600" />
            <meta name="twitter:image:height" content="600" />
            <meta name="twitter:image:alt" content="{{itemobject.iteminfo.name}} from {{itemobject.businessid.name}}" />
            <meta name="twitter:data1" content="₦{{itemobject.iteminfo.cost}}" />
            <meta name="twitter:label1" content="Price" />
            <!-- Open Graph (Instagram, Facebook, WhatsApp) data -->
            <meta property="og:title" content="{{itemobject.iteminfo.name}} | ₦{{itemobject.iteminfo.cost}}" />
            <meta property="og:type" content="article" />
            <meta property="og:url" content="https://brinmo.com/i/{{itemobject.itemid}}-by-{{itemobject.businessid.link}}/" />
            <meta property="og:image:secure_url" content="https://firebasestorage.googleapis.com/v0/b/bizzybody-90f3e.appspot.com/o/business%2F{{itemobject.businessid.text}}%2F{{itemobject.itemid}}_600x600.png?alt=media" />
            <meta property="og:image:type" content="image/png" />
            <meta property="og:image:width" content="600" />
            <meta property="og:image:height" content="600" />
            <meta property="og:image:alt" content="{{itemobject.iteminfo.name}} from {{itemobject.businessid.name}}" />
            <meta property="og:description" content="{{itemobject.iteminfo.name}} from {{itemobject.businessid.name}}. Direct and Instant delivery on Brinmo." />
            <meta property="og:site_name" content="{{itemobject.businessid.name}}" />
            <meta property="og:price:amount" content="{{itemobject.iteminfo.cost}}" />
            <meta property="og:price:currency" content="NGN" />
            <meta property="og:availability" content="{{#if itemobject.iteminfo.pulse}}instock{{else}}preorder{{/if}}" />
            <!-- <meta property="fb:admins" content="Facebook numberic ID" /> -->

            <meta name="description" content="₦{{itemobject.iteminfo.cost}} {{itemobject.iteminfo.name}} from {{itemobject.businessid.name}}. Direct and Instant delivery on Brinmo." />
            <meta name="robots" content="all" />
            <meta name="keywords" content="{{itemobject.iteminfo.name}}, {{itemobject.businessid.name}}, {{itemobject.iteminfo.cost}} brinmo, small business, order, delivery">
            
            <link rel="icon" type="image/png" href="https://brinmo.com/images/favicon-32x32.png" sizes="32x32" />
            <link rel="icon" type="image/png" href="https://brinmo.com/images/favicon-16x16.png" sizes="16x16" />
            <link href="https://brinmo.com/i/{{itemobject.itemid}}-by-{{itemobject.businessid.link}}" rel="canonical">
        </head>
        <body style="font-family: Century Gothic, sans-serif; margin: unset; background-color: #000011; color: #000011;">
            <header style='padding: none; background-color: #FFFFFF11; background-image:url("https://firebasestorage.googleapis.com/v0/b/bizzybody-90f3e.appspot.com/o/business%2F{{itemobject.businessid.text}}%2F{{itemobject.itemid}}_600x600.png?alt=media"); background-repeat: no-repeat; background-position: 50%; background-size: cover; height: 50vh;'>
                <h1 style="font-size: 26px; margin: unset; height: 50vh; color: #fff; padding-left: 5vw; bottom: 0px; line-height: 90vh; background-color: #000011; opacity: 0.8;">
                    {{itemobject.iteminfo.name}}
                    <a target="_blank" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{itemobject.iteminfo.name}} by {{itemobject.businessid.name}}" data-url="https://brinmo.com/i/{{itemobject.itemid}}-by-{{itemobject.businessid.link}" data-related="brinmoHQ" data-show-count="false">Share</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </h1>
            </header>
            <div style="padding: 10px;">
                <span style="font-size: 14px; color: #ffffff88; padding-left: 5vw;">
                    ₦{{itemobject.iteminfo.cost}}
                </span>
                <span style="font-size: 14px; color: #ffffff88; padding-right: 5vw; float: right;">
                    <a href="https://brinmo.com/b/{{itemobject.businessid.link}}" style="text-decoration: none; color:#ffffff99; font-weight: bold; text-transform: capitalize;">{{itemobject.businessid.name}}</a>
                </span>
            </div>
            <div style="padding: 5vw; background-color: #fff;">
                <h3 style="text-align: center;">Download our app to order!</h3>
                <div style="text-align: center; align-self: center; margin-top: 40px; margin-bottom: 40px;">
                    <a style="margin: 25px; text-decoration: none;" target="_blank" href='https://play.google.com/store/apps/details?id=com.brinmo&referrer={{bizobject.id.text}}'>
                        <img height="80px" width="auto" style="padding: none;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="100%"/>
                    </a>
                    <a style="margin: 25px;" target="_blank" href="https://forms.gle/yvfpRSsfW6XAXcVx5">
                        <img height="54px" width="auto" style="padding: 13px;" alt='Coming Soon to AppStore' src='https://brinmo.com/images/cmsoon.jpg' width="100%"/>
                    </a>
                </div>
                <div style="text-align: center; font-size: 14px;">Free transfers, direct and fast deliveries</div>
            </div>
            <footer style="padding: 10px; color: #ffffff88; padding-left: 5vw; font-size: 14px;">
                <span style="font-size: 14px;">Join </span>
                <a style="text-decoration: none; font-size: 14px; color: #ffffff99; font-weight: bold;" href="https://brinmo.com" title="Brinmo">
                    brinmo.com
                </a>
            </footer>
        </body>
    {{else}}
        <head>
      	<title>Item Not Found</title>
      	<meta charset="utf-8" />
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      	<link rel="stylesheet" href="https://brinmo.com/assets/css/main.css" />
      	<link rel="icon" type="image/png" href="https://brinmo.com/images/favicon-32x32.png" sizes="32x32" />
      	<link rel="icon" type="image/png" href="https://brinmo.com/images/favicon-16x16.png" sizes="16x16" />
    	<script type="text/javascript">
      		function backie(){
        		history.back();
      		}
    	</script>
	    </head>
        <body style="vertical-align: middle; background: #000011; color: #FFFFFF; font-family: Roboto, Helvetica, Arial, sans-serif; margin: unset; margin-block: unset; padding: none; text-align: center;">
            <header id="header">
                <div class="inner">
                    <a href="https://brinmo.com" draggable="false" class="logo" style="font-weight: lighter;">
                        <img src="https://brinmo.com/images/logo.jpg" alt="Brinmo"  draggable="false"/>
                    </a>
                </div>
            </header>
            <!--<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
            <div style="vertical-align: middle; padding: none; margin: unset; padding: none;">
                <p style="color:#FFFFFF; font-size: 10rem; margin: unset; padding: none;">404</p>
                <p style="color: #FFFFFFBB; margin-block: unset; margin: unset; padding: none; padding-bottom: 20px; font-size: 28px;">Weep not, Child.</p>
                <button onclick="backie()" style="font-size: 18px; font-weight: bold;">Back</button>
                <a draggable="false" href="https://brinmo.com" style="text-decoration: none; margin: unset;"> <button style="font-size: 18px; font-weight: bold;">Home</button></a>
                <p style="font-size: 14px; color: #FFFFFF66; margin-block: unset; margin: unset; padding: none; padding-top: 20px;">michael.abia@aun.edu.ng</p>
            </div>
            <script src="https://brinmo.com/assets/js/jquery.min.js"></script>
            <script src="https://brinmo.com/assets/js/skel.min.js"></script>
            <script src="https://brinmo.com/assets/js/util.js"></script>
            <script src="https://brinmo.com/assets/js/main.js"></script>
        </body>
    {{/if}}
</html>